# List or Dictionary or Tuples Comprehension:

In [1]:
x=int(input())
for i in range(x):
    print(i)

2
0
1

In [2]:
[x for i in range(int(input()))]

3

[2, 2, 2]

In [3]:
[i for i in range(int(input()))]

6

[0, 1, 2, 3, 4, 5]

In [6]:
num = [i for i in range(int(input()))]

5

In [7]:
num

[0, 1, 2, 3, 4]

In [8]:
[i**2 for i in range(int(input()))]

5

[0, 1, 4, 9, 16]

In [9]:
sq = [i**2 for i in range(int(input()))]

8

In [10]:
sq

[0, 1, 4, 9, 16, 25, 36, 49]

In [15]:
[i for i in range(0,10,2)]

[0, 2, 4, 6, 8]

In [18]:
odds = [i for i in range(1,40,2)]

In [19]:
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [38]:
odds = [i for i in range(1,44,2)]

In [39]:
odds

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43]

In [40]:
evens = [i for i in range(1,50) if i%2==0]

In [41]:
evens

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [44]:
print([i for i in range(1,100) if i%2==1])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [47]:
print([int(i) for i in input().split()])

5
[5]

In [50]:
[int(i) for i in input().split()]

54 65 34 54

[54, 65, 34, 54]

In [54]:
va = input().split()
li=list()
print(va)
for i in va:
    li.append(int(i))
li

 1 3 4
['1', '3', '4']

[1, 3, 4]

In [55]:
li

[1, 3, 4]

In [56]:
v = list(map(int,input().split()))

 13 4 5 6

In [58]:
def int1(x):
    return int(x)
c= list(map(int1,input("enter a no:").split()))
c

enter a no:1 2 54

[1, 2, 54]

In [76]:
def cube(x):
    return int(x)**3
c=list(map(cube,input().split()))
c

2 4 5

[8, 64, 125]

In [77]:
sum(c)

197

In [2]:
s = sum(list(i for i in range(1,int(input()))))
s

5

10

In [1]:
print(sum(list(i**2 for i in range(1,int(input())))))

5
30

In [4]:
x=int(input())
[print(x,'X',i,'=',x*i) for i in range(1,11)]

5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

[None, None, None, None, None, None, None, None, None, None]

In [7]:
num = list("even" if i%2==0 else "odd" for i in range(1,11))

In [8]:
num

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [9]:
['seond value is big' if int(input())<int(input()) else 'first is big']

3
4

['seond value is big']

In [11]:
a,b=int(input()),int(input())
print('a' if a>b else 'b')

4
5
b

In [14]:
# multiples of 5 in between 1 and 100
[i for i in range(0,101,5)]

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [15]:
[i for i in range(1,100) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [16]:
[i for i in range(1,100) if i%2==0 if i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [18]:
[(i,j) for i in range(1,3) for j in range(4,8)]

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7)]

In [19]:
[(i,j) for i in range(1,3) for j in range(4,8) if j%2==0]

[(1, 4), (1, 6), (2, 4), (2, 6)]

# Dictionary comprehension

In [21]:
{k:v for k,v in enumerate([1,2,3,4,5])}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [30]:
keys=['name','roll','age']
values=['manasa',14,100]
d={k:v for k,v in zip(keys,value)}
d

{'name': 'manasa', 'roll': 14, 'age': 100}

In [31]:
print(dict(zip(keys,values)))

{'name': 'manasa', 'roll': 14, 'age': 100}